In [1]:
import pandas as pd

In [7]:
age = pd.read_excel("AgeGroup_2020_Cleaned.xlsx")
gender = pd.read_excel("Gender_2020_Cleaned.xlsx")
ethnicity = pd.read_csv("Ethnicity Cleaned.csv")
income = pd.read_excel("Household_Income_Cleaned.xlsx")
dwelling = pd.read_csv("Type of Dwelling cleaned.csv")

In [55]:
ethnicity = ethnicity.dropna()
ethnicity.reset_index(inplace=True)
ethnicity = ethnicity.drop(columns=["index"])

In [4]:
age

,Planning Area/Subzone of Residence,Total,Below 20,20 to 29,30 to 39,40 to 49,50 to 59,60 and above
0,Total,4044210,803440,531540,597320,611030,601900,899010
1,Ang Mo Kio,162280,26010,19000,20910,23760,24640,47950
2,Bedok,276990,48170,34920,36090,40590,42000,75230
3,Bishan,87320,15440,12170,10820,12470,13250,23170
4,Boon Lay,40,7,5,5,6,5,12
5,Bukit Batok,158030,31000,22280,24610,22340,24400,33420
6,Bukit Merah,151250,25240,15530,21190,23580,21300,44420
7,Bukit Panjang,138270,28800,19820,20560,19850,21350,27890
8,Bukit Timah,77860,17830,9200,8920,12520,11370,18040
9,Changi,1850,530,190,290,330,230,290
10,Choa Chu Kang,192070,40570,32060,27630,26770,32220,32830
11,Clementi,91990,17220,9760,12720,14680,12920,24700
12,Downtown Core,3190,380,330,740,670,470,630
13,Geylang,110110,17870,13680,16090,16030,16450,30000
14,Hougang,227560,40400,31750,32660,31590,35640,55530
15,Jurong East,78600,13100,10460,10460,11070,11860,21640
16,Jurong West,262730,54680,36700,38220,42100,39480,51550
17,Kallang,101290,16440,10540,14470,15970,14810,29050
18,Lim Chu Kang,110,21,14,16,16,16,27
19,Mandai,2090,400,340,250,330,340,420
20,Marine Parade,46220,9090,4890,5460,7880,6710,12190
21,Museum,510,80,50,120,120,80,60
22,Newton,8260,1870,730,1090,1620,1290,1670
23,NorthEastern Islands,50,9,6,7,7,7,14
24,Novena,49330,9950,5200,6940,8500,7010,11750
25,Orchard,920,200,60,130,190,120,220
26,Outram,18340,2730,1580,2340,2930,2630,6140
27,Pasir Ris,147110,29300,25850,17930,20640,26840,26570
28,Paya Lebar,40,7,5,5,6,5,12
29,Pioneer,80,15,10,11,12,11,21
30,Punggol,174450,51470,15150,39390,31460,17180,19840
31,Queenstown,95930,16570,10530,13820,14730,13700,26570
32,River Valley,10070,2150,940,1450,2120,1530,1900
33,Rochor,13120,1840,1350,1890,2180,1890,4000
34,Seletar,300,60,40,20,60,70,50
35,Sembawang,102640,24930,13720,17700,17590,14030,14700
36,Sengkang,249370,63540,27500,46600,42990,30900,37870
37,Serangoon,116900,19280,16840,14950,15460,17800,32590
38,Singapore River,3260,780,230,540,790,470,440
39,Southern Islands,1940,460,180,240,400,400,260
40,Sungei Kadut,750,130,100,90,100,120,210
41,Tampines,259900,48500,39430,38110,33940,40300,59620
42,Tanglin,21810,5130,2010,2830,4200,3200,4460
43,Tengah,10,1,1,1,1,1,5
44,Toa Payoh,121850,20190,14350,16370,18070,17930,34950
45,Tuas,70,13,9,10,10,10,18
46,Western Islands,10,1,1,1,1,1,5
47,Western Water Catchment,640,120,180,90,110,80,60
48,Woodlands,255130,55600,42170,35890,38230,41760,41480
49,Yishun,221610,45350,29730,36710,32040,33110,44690

In [34]:
for i in range(len(age)):
    age.loc[i, "Planning Area/Subzone of Residence"] = age.loc[i, "Planning Area/Subzone of Residence"].strip()

In [32]:
for i in range(len(gender)):
    gender.loc[i, "Planning Area/Subzone of Residence"] = gender.loc[i, "Planning Area/Subzone of Residence"].strip()

In [56]:
for i in range(len(ethnicity)):
    ethnicity.loc[i, "Planning Area/Subzone of Residence"] = ethnicity.loc[i, "Planning Area/Subzone of Residence"].strip()

In [38]:
area_list = list(income["Planning Area of Residence"]) 
gender_index = []
count = 0
for i in range(len(gender)):
    if gender.loc[i, "Planning Area/Subzone of Residence"] in area_list:
        gender_index.append(i)
        count += 1
count

31

In [44]:
gender_cleaned = gender.loc[gender_index]
gender_cleaned.reset_index(inplace=True)
gender_cleaned = gender_cleaned.drop(columns=["index"])
gender_cleaned

   Planning Area/Subzone of Residence    Total    Males  Females
0                               Total  4044210  1977560  2066650
1                          Ang Mo Kio   162280    77570    84700
2                               Bedok   276990   134210   142790
3                              Bishan    87320    42260    45060
4                         Bukit Batok   158030    77480    80550
5                         Bukit Merah   151250    72730    78520
6                       Bukit Panjang   138270    68150    70120
7                         Bukit Timah    77860    35980    41880
8                       Choa Chu Kang   192070    95690    96380
9                            Clementi    91990    43630    48360
10                      Downtown Core     3190     1590     1600
11                            Geylang   110110    54260    55860
12                            Hougang   227560   111490   116070
13                        Jurong East    78600    38930    39670
14                        Jurong West   262730   131900   130840
15                            Kallang   101290    50040    51260
16                      Marine Parade    46220    21700    24520
17                             Novena    49330    23930    25400
18                             Outram    18340     9210     9130
19                          Pasir Ris   147110    72540    74570
20                            Punggol   174450    85940    88520
21                         Queenstown    95930    45120    50820
22                       River Valley    10070     4620     5450
23                          Sembawang   102640    50710    51930
24                           Sengkang   249370   122480   126890
25                          Serangoon   116900    56370    60530
26                           Tampines   259900   127000   132900
27                            Tanglin    21810    10100    11700
28                          Toa Payoh   121850    57890    63960
29                          Woodlands   255130   127990   127150
30                             Yishun   221610   109470   112140

In [46]:
gender_cleaned.to_excel("Gender_Cleaned_Subset.xlsx", index = False)

In [47]:
area_list = list(income["Planning Area of Residence"]) 
age_index = []
count = 0
for i in range(len(age)):
    if age.loc[i, "Planning Area/Subzone of Residence"] in area_list:
        age_index.append(i)
        count += 1
count

31

In [48]:
age_cleaned = age.loc[age_index]
age_cleaned.reset_index(inplace=True)
age_cleaned = age_cleaned.drop(columns=["index"])
age_cleaned

,Planning Area/Subzone of Residence,Total,Below 20,20 to 29,30 to 39,40 to 49,50 to 59,60 and above
0,Total,4044210,803440,531540,597320,611030,601900,899010
1,Ang Mo Kio,162280,26010,19000,20910,23760,24640,47950
2,Bedok,276990,48170,34920,36090,40590,42000,75230
3,Bishan,87320,15440,12170,10820,12470,13250,23170
4,Bukit Batok,158030,31000,22280,24610,22340,24400,33420
5,Bukit Merah,151250,25240,15530,21190,23580,21300,44420
6,Bukit Panjang,138270,28800,19820,20560,19850,21350,27890
7,Bukit Timah,77860,17830,9200,8920,12520,11370,18040
8,Choa Chu Kang,192070,40570,32060,27630,26770,32220,32830
9,Clementi,91990,17220,9760,12720,14680,12920,24700
10,Downtown Core,3190,380,330,740,670,470,630
11,Geylang,110110,17870,13680,16090,16030,16450,30000
12,Hougang,227560,40400,31750,32660,31590,35640,55530
13,Jurong East,78600,13100,10460,10460,11070,11860,21640
14,Jurong West,262730,54680,36700,38220,42100,39480,51550
15,Kallang,101290,16440,10540,14470,15970,14810,29050
16,Marine Parade,46220,9090,4890,5460,7880,6710,12190
17,Novena,49330,9950,5200,6940,8500,7010,11750
18,Outram,18340,2730,1580,2340,2930,2630,6140
19,Pasir Ris,147110,29300,25850,17930,20640,26840,26570
20,Punggol,174450,51470,15150,39390,31460,17180,19840
21,Queenstown,95930,16570,10530,13820,14730,13700,26570
22,River Valley,10070,2150,940,1450,2120,1530,1900
23,Sembawang,102640,24930,13720,17700,17590,14030,14700
24,Sengkang,249370,63540,27500,46600,42990,30900,37870
25,Serangoon,116900,19280,16840,14950,15460,17800,32590
26,Tampines,259900,48500,39430,38110,33940,40300,59620
27,Tanglin,21810,5130,2010,2830,4200,3200,4460
28,Toa Payoh,121850,20190,14350,16370,18070,17930,34950
29,Woodlands,255130,55600,42170,35890,38230,41760,41480
30,Yishun,221610,45350,29730,36710,32040,33110,44690

In [49]:
age_cleaned.to_excel("Age_Cleaned_Subset.xlsx", index = False)

In [57]:
area_list = list(income["Planning Area of Residence"]) 
ethnicity_index = []
count = 0
for i in range(len(ethnicity)):
    if ethnicity.loc[i, "Planning Area/Subzone of Residence"] in area_list:
        ethnicity_index.append(i)
        count += 1
count

31

In [58]:
ethnicity_cleaned = ethnicity.loc[ethnicity_index]
ethnicity_cleaned.reset_index(inplace=True)
ethnicity_cleaned = ethnicity_cleaned.drop(columns=["index"])
ethnicity_cleaned

,Planning Area/Subzone of Residence,Total,Chinese,Malays,Indians,Others
0,Total,"4,044,210","3,006,770","545,500","362,270","129,670"
1,Ang Mo Kio,"162,280","134,350","11,140","12,810","3,970"
2,Bedok,"276,990","201,780","39,300","24,450","11,470"
3,Bishan,"87,320","75,040","3,190","6,490","2,590"
4,Bukit Batok,"158,030","113,460","25,240","14,950","4,380"
5,Bukit Merah,"151,250","120,830","11,430","13,980","5,010"
6,Bukit Panjang,"138,270","102,800","21,690","10,340","3,450"
7,Bukit Timah,"77,860","67,400",640,"3,840","5,980"
8,Choa Chu Kang,"192,070","133,520","35,500","18,020","5,020"
9,Clementi,"91,990","73,630","8,270","6,970","3,120"
10,Downtown Core,"3,190","2,500",30,200,460
11,Geylang,"110,110","85,460","12,470","8,640","3,550"
12,Hougang,"227,560","184,810","18,760","18,710","5,290"
13,Jurong East,"78,600","55,440","12,700","8,610","1,850"
14,Jurong West,"262,730","183,590","46,520","26,360","6,260"
15,Kallang,"101,290","77,010","7,000","14,510","2,780"
16,Marine Parade,"46,220","35,050","3,120","5,510","2,530"
17,Novena,"49,330","40,720","1,730","4,140","2,740"
18,Outram,"18,340","14,910","1,650","1,290",480
19,Pasir Ris,"147,110","98,790","29,370","13,120","5,840"
20,Punggol,"174,450","131,940","26,050","12,190","4,270"
21,Queenstown,"95,930","78,220","6,940","7,060","3,710"
22,River Valley,"10,070","7,020",90,"1,500","1,460"
23,Sembawang,"102,640","72,910","16,680","9,360","3,680"
24,Sengkang,"249,370","192,870","28,560","21,690","6,240"
25,Serangoon,"116,900","98,770","4,860","10,250","3,020"
26,Tampines,"259,900","173,660","56,570","21,700","7,970"
27,Tanglin,"21,810","16,270",240,"2,200","3,090"
28,Toa Payoh,"121,850","101,320","8,410","8,590","3,530"
29,Woodlands,"255,130","155,360","65,480","28,240","6,060"
30,Yishun,"221,610","153,160","40,390","21,950","6,110"

In [60]:
ethnicity_cleaned.to_excel("Ethnicity_Cleaned_Subset.xlsx", index = False)